$green: #4FCCC3;
$pink: #FF6B6B;
$orange: #E9C46A;
$background: #D3C3B5;
$darkPurple: #4A4E69;
$highlightColor: #E9C46A;

body {
  min-width: 320px;
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: auto;
  padding: 1rem;
  max-width: 650px;
}
h3 {
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid;
}
#intro {
  padding: 1rem;
  margin: auto;
  margin-bottom: 10px;
}
#intro-title {
  text-align: center;
  font-weight: 700;
}
#main {
  margin: auto;
  height: 100%;
}
#section-top20 {
  display: flex;
  margin-bottom: 20px;
}
#top20-text-container {
  margin-bottom: 30px;
}
#text-top20-1 {
  margin: 0;
}
#section-colors {
  margin-bottom: 20px;
}
#text-top20-2 {
  margin-bottom: 40px;
}
#top20-svg-container {
  margin-left: 20px;
  margin-bottom: 20px;
}
#svg-colors {
  display: block;
  margin: auto;
  margin-bottom: 40px;
}
#section-list {
  margin-bottom: 40px;
}
#text-top20-3 {
  margin-bottom: 30px;
}
#svg-list {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
#text-triangle {
  margin: 0;
  margin-bottom: 20px;
}
.bars {
  fill: $darkPurple;
  opacity: 0.7;
}
.beerRect {
  fill: $orange;
}
.wineRect {
  fill: $pink;
}
.spiritsRect {
  fill: $green;
}
.beerLabels {
  text-anchor: end;
}
.wineLabels {
  text-anchor: end;
}
.spiritLabels {
  text-anchor: end;
}
.barLabels {
  text-anchor: end;
}
.typeLabels {
  text-anchor: middle;
  font-weight: 700;
}
.numberLabels {
  font-weight: 600;
}
.chartTitle {
  font-weight: 700;
  margin: 0;
  max-width: 400px;
}
.triangle {
  opacity: 0.1;
  fill: $darkPurple;
}
.axisLabels {
  font-weight: 700;
}
.countryCircles {
  opacity: 0.4;
}
.countryCircles-active {
  opacity: 1;
}
.countryCircles-inactive {
  opacity: 0.2;
}
.legendCircles {
  fill: $darkPurple;
  opacity: 0.4;
}
.labelRect {
  fill: white;
  opacity: 0.9;
}
.dataLabels {
  background: white;
  text-anchor: middle;
}
#countryName {
  font-weight: 700;
  text-transform: uppercase;
}
.searchbar-input {
  height: 24px;
  float: right;
  padding: 0;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  font-size: 11px;
}
.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid;
  font-size: 11px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: $green;
  color: white;
}
#methods {
  margin: auto;
  max-width: 550px;
}
#text-methods {
  margin: 0;
}
@media screen and (min-width:399px) {
  h1 {
    font-size: 35px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
  }
  .barLabels {
    font-size: 12px;
  }
  .typeLabels {
    font-size: 13px;
  }
  .chartTitle {
    font-size: 20px;
  }
  .axisLabels {
    font-size: 16px;
  }
  .dataLabels {
    font-size: 12px;
  }
  .legendText {
    font-size: 12px;
  }
  .instructions {
    font-size: 14px;
  }
  #text-methods {
    font-size: 11px;
  }
  #text-triangle {
    font-size: 14px;
  }
  .searchbar-input {
    width: 30%;
  }
  .beerLabels {
    font-size: 12px;
  }
  .wineLabels {
    font-size: 12px;
  }
  .spiritLabels {
    font-size: 12px;
  }
}
@media screen and (max-width:420px) {
  h1 {
    font-size: 26px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.5;
  }
  .barLabels {
    font-size: 10px;
  }
  .typeLabels {
    font-size: 12px;
  }
  .chartTitle {
    font-size: 16px;
  }
  .axisLabels {
    font-size: 12px;
  }
  .dataLabels {
    font-size: 11px;
  }
  .legendText {
    font-size: 10px;
  }
  .instructions {
    font-size: 12px;
  }
  #text-methods {
    font-size: 10px;
  }
  #text-triangle {
    font-size: 12px;
  }
  .beerLabels {
    font-size: 11px;
  }
  .wineLabels {
    font-size: 11px;
  }
  .spiritLabels {
    font-size: 11px;
  }
}
