$green: #767A00;
$fuchsia: #860037;
$orange: #F69F19;
$background: #D3C3B5;
$darkPurple: #43384c;

body {
  min-width: 300px;
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: auto;
  padding: 1rem;
}
#intro-wrapper {
  padding-top: 1rem;
}
#intro {
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
#intro-subtitle {
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  text-align: left;
}
#author-date {
  max-width: 250px;
  display: flex;
  margin: auto;
}
#author {
  width: 50%;
  text-align: center;
}
#date {
  width: 50%;
  text-align: center;
}
#main {
  max-width: 750px;
  margin: auto;
  height: 100%;
}
#section-top20 {
  display: flex;
  margin-bottom: 50px;
}
#text-top20-1 {
  width: 250px;
  margin: 0;
}
#text-top20-2 {
  display: none;
  width: 250px;
  margin: 0;
}
#text-top20-3 {
  display: none;
  width: 250px;
  margin: 0;
}
#svg-top {
  margin-left: 20px;
}
.bars {
  fill: $darkPurple;
  opacity: 0.7;
}
.beerRect {
  fill: $orange;
}
.wineRect {
  fill: $fuchsia;
}
.spiritsRect {
  fill: $green;
}
.barLabels {
  font-size: 12px;
  text-anchor: end;
}
.typeLabels {
  font-size: 11px;
  text-anchor: middle;
  font-weight: 700;
}
button {
  background-color: $background;
  border-radius: 2px;
  height: 23px;
  font-weight: 500;
  border: 1px solid;
  cursor: pointer;
  margin: 1px;
  margin-left: 10px;
  margin-right: 10px;
}
#button-container {
  display: flex;
}
#button-back {
  display: none;
}
#button-color {
}
#button-list {
  display: none;
}
#button-triangle {
  display: none;
}
#searchbar-container {
  display: flex;
  flex-wrap: wrap;
}
#section-triangle {
  display: none;
}
#text-triangle {
  position: absolute;
  width: 250px;
  top: 470px;
}
.chartTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  max-width: 400px;
}
.triangle {
  opacity: 0.5;
  fill: $background;
}
.axisLabels {
  font-weight: 700;
  font-size: 16px;
}
.countryCircles {
  opacity: 0.4;
  fill: $darkPurple;
}
.countryCircles-active {
  opacity: 1;
  fill: $fuchsia;
}
.legendCircles {
  fill: $darkPurple;
  opacity: 0.4;
}
.labelRect {
  fill: white;
  opacity: 0.9;
}
.dataLabels {
  font-size: 12px;
  background: white;
  text-anchor: middle;
}
.legendText {
  font-size: 12px;
}
.instructions {
  font-size: 14px;
}
#countryName {
  font-weight: 700;
  text-transform: uppercase;
}
.searchbar-input {
  width: 30%;
  height: 24px;
  float: right;
  margin-left: 110px;
  padding: 0;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  font-size: 11px;
}
.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid;
  font-size: 11px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: $green;
  color: white;
}
@media screen and (min-width:399px) {
  h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    font-weight: 900;
  }
  h3 {
    font-size: 17px;
    font-weight: 300;
  }
  p {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
  }
}
@media screen and (max-width:400px) {
  h1 {
    font-size: 26px;
    text-align: center;
    margin: 0;
    font-weight: 900;
  }
  h3 {
    font-size: 12px;
    font-weight: 300;
  }
  p {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.5;
  }
}
